.modal-lg {
    width: 1100px;!important;
}

.yellow {
    background-color: lightgoldenrodyellow;
}

.save-index {
    margin-left: 53.9%;
}
.button-distance {
    padding: 5px;
    display: inline;
}